<html>
	<head>
   	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>

	<body>
	<div id="wrapper">



		<div id="header" >
			<div>
				<h2>The Amazing Recipe Index</h2>
			</div> 

			<div>
				<h3> Search for Recipes</h3>
			</div>

			<%=flash[:notice] %> 

			<div class ="search">
				<% form_tag url_for(:recipe, :show) do %>
					<p>
						<%= label_tag :name %>
						<%= text_field_tag :name %>
					</p>
					<%= submit_tag %>	
				<% end %>
		</div>

	   <div >
	    <%= yield %>
	   </div>

	</div>
  </body>
</html>